name: PHPunit

on:
  push:
    branches:
      - master
  pull_request: null

jobs:
  phpunit:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.4', '8.0', '8.1' ]

    name: PHPunit - PHP ${{ matrix.php }}

    services:
      redis:
        image: redis
        ports:
          - 6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Composer update
        run: composer update --no-progress --no-interaction

      - name: PHPunit
        run: REDIS_PROXY_REDIS_HOST=redis vendor/bin/phpunit --coverage-text
